* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

/* Barre de navigation du header */

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    height: 75px;
    line-height: 75px;
    background: #404040;
}

nav .navig {
    color: #ffffff;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: .5px;
}

nav .nav-list {
    display: flex;
}

nav .nav-list .nav-item {
    cursor: pointer;
    height: 100%;
    padding: 0 30px;
    transition: .4s;
}

nav .nav-list .nav-item:hover {
    background: blueviolet;
}

nav .nav-list .nav-link {
    color: #f1f1f1;
    font-size: 18px;
    font-weight: 500;
}

/* responsive et le menu burger */

@media (max-width: 935px) {

    nav {
        padding: 0 2rem;
    }

    nav .nav-list .nav-item {
        padding: 0 20px;
    }

}

@media (max-width: 675px) {

    nav .nav-list {
        display: grid;
        position: absolute;
        background: #404040;
        width: 100%;
        top: 75px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: .6s;
    }

    nav .nav-list .nav-item {
        padding-left: 35px;
    }

    nav .nav-dessus {
        display: grid !important;
    }

}

nav .nav-dessus {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}

nav .nav-dessus .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 10%;
    transition: .4s;
}

input {
    display: none;
}

input:checked ~ nav .nav-list {
    transform: translateY(0);
}

input:checked ~ nav .nav-dessus {
    margin-top: 35px;
}

input:checked ~ nav .nav-dessus .bar:nth-child(1) {/* barre n1 du menu burger */
    position: absolute;
    transform: rotate(45deg);
}

input:checked ~ nav .nav-dessus .bar:nth-child(2) { /* barre n2 */
    display: none;
}

input:checked ~ nav .nav-dessus .bar:nth-child(3) { /* barre n3 */
    transform: rotate(-45deg);
}


/* les barres de la liste des compétences */

.skill {
    display: flex;  /* pour que les deuxiemes barres se mettent à cotés des premières */
}


.skill .name {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 2em;
    font-weight: 500;
    margin-right: 40px;
}

.skill .name span{    /*  Pour chaque div mais qui va s'appliquer a tout les div mais séparement */
    margin: 15px 0;
    box-shadow:  9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 50px;
    border: 5px solid #ebecf0;
    transition: 0.2s;
    cursor: pointer;
}

.skill .name span:hover{
    box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff,
    inset 9.91px 9.91px 15px #d9dade, inset -9.91px -9.91px 15px #ffffff;
}

.bar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bar {
    width: 400px;
    height: 30px;
    border-radius: 20px;
    box-shadow: inset 6px 6px 5px #d9dade,
     inset -6px -6px 5px #ffffff;
}

.bar .progress {
    height: 100%;
    background-color: blueviolet;
    border-radius: 20px; /* barre arrondie */
}



.bar:nth-child(1) .progress {  /* barre numéro 1 */
    width: 90%;

}

.bar:nth-child(2) .progress { /* barre numéro 2 */
    width: 40%;
}

.bar:nth-child(3) .progress { /* barre numéro 3 */
    width: 30%;

}

/* page content */
.page-content{
    margin: 4%;
}

.page-content header {
    margin-top: 5%;
    max-width: 80%;

}

.page-content header h1 {
	margin: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 6vw;
}
.page-content header p {
    line-height: 30px;
    color: grey;
}

.page-content header button {
    background-color: inherit;
    border: none;
    outline: none;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.page-content header button:hover {
    color: #ccc;
    border-bottom-color: black;
}

.page-content .presentation-image {
    margin-top: 5%;
}
.page-content .presentation-image img {
    max-width: 100%;
    height: auto;
    transition: filter O.5s;

}
.page-content .presentation-image img:hover{
    filter: brightness(50%);

}

.page-content .projects-section {
	margin-top: 6%;
}
.page-content .projects-section h1 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 3vw;
}
.page-content .projects-section .projects {
	display: flex;
	flex-wrap: wrap;
}
.page-content .projects-section .project {
	margin-right: 20px;
	max-width: 195px;
}
.page-content .projects-section .project h4 {
	margin: 0;
}
.page-content .projects-section .project .description {
	font-size: 10px;
}
.page-content .projects-section .project .dates {
	font-size: 13px;
	color: rgb(145, 145, 145);
}

/* footer */

footer {
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
	background-color: #000;
	color: white;
}
footer .colonne p {
	font-size: 12px;
	color: #ccc;
	cursor: pointer;
}
footer .colonne p:hover {
	color: #fff;
}

.contact-flex {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.contact-flex p:first-child{
    flex: 0 0 40%;
}
.contact-flex p:last-child{
    flex: 0 0 60%;
}

.imagefooter{ /* placement des images */
    display: flex;
    justify-content: space-around;
    margin: 10px auto 0px auto;
}

.imagefooter img { /* taille des images du footer */
    width: 40px;
    height: 40px;
}


/* Close btn */
.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }


/* responsive */

@media (max-width: 1250px) {
    h1 {
        color: blue;
    }
    section.présentation-section {
        display: block;
    }

    .skill {
        font-size: 8px
    }

    .bar-container {
        width: 100px;
    }

    .contact-flex {
        font-size: 12px;

    }
}


@media (min-width: 600px) {   /* fait au moins 600px de large */
    section.présentation-section {
        display: block;
    }
}